{% extends 'base.html' %}
{% block head %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
{% endblock head %}
{% block title %}Social{% endblock title %}
{% block body %}
<div style="display:flex;">
<a href="https://instagram.com/cionxesports" target="blank">
<img src="//static/img/instagram.png" alt="instagram_logo" width='100' height="100">
<br>
</a>

<a href="https://youtube.com/channel/UCKATgy8Ps-fXzxLV2FnkbfA" target="blank">
    <img src="//static/img/youtube.png" alt="youtube_logo" width='100' height="100">
    <br>
    </a>
<a href="https://discord.com/invite/XMes4fq" target="blank">
    <img src="//static/img/discord.png" alt="youtube_logo" width='100' height="100">
    </a>
</div>
{% endblock body %}

